.notification-container {
    position: relative;
    display: inline-block;
}

.notification-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 19px 18px;
}

.notification-button:hover {
    background-color: black;
}

.notification-bar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px; /* Increased width for better space */
    max-height: 400px;
    overflow-y: auto;
    background-color: black;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
    z-index: 1000;
    margin-top: 10px;
    color: white;
}

.notification-bar-header {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #ff640a;
    text-align: center;
    margin: 0 5px;
}

.notification-item {
    display: flex;
    max-height: 60px; /* Adjusted to fit content better */
    padding: 10px;
    overflow: hidden; /* Ensure no overflow */
}


.notification-item i {
    font-size: 14px;
    color: #ff640a;
    margin-left: auto; /* Pushes the icon to the right */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.notification-item:hover {
    background-color: #171923;
}

.notification-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.notification-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.notification-right-side-headline {
    font-size: 13px; /* Slightly reduced for space management */
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap; /* Prevent line break */
    text-overflow: ellipsis; /* Handle long text with ellipsis */
}

.notification-right-side-media-name,
.notification-right-side-desc {
    font-size: 10px;
    margin-bottom: 5px;
    color: #aaa;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis for long text */
}

.notification-right-side-date{
    font-size: 10px;
    margin-bottom: 5px;
    color: #2abdbb;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis for long text */
}


.notification-right-side-desc {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-item:last-child {
    border-bottom: none;
}

.no-notifications-msg {
    padding: 10px;
    text-align: center;
    color: #888;
    font-style: italic;
}

/* Ensure notification bar stays open on hover */
.notification-container:hover .notification-bar {
    display: block;
}
