.company-section {
    margin-top: auto;
  }

  .company-section-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3a3a3e;

    margin: 50px 120px 80px 120px;
    border-radius: 20px;
    padding-top: 20px;
    align-content: center;
  }

  input[type="text"] {

    background-color: #3a3a3e;
    color: white;
    border: 2px solid #4d5059;

    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;

    margin: 10px 40px 20px 40px;
  }

  .search-button {
    font-size: 18px;
    font-weight: bold;

    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffdd95;
    color: black;
    transition: background-color 0.3s;

    margin: 20px 1090px 20px 40px;
  }

  .search-button:hover {
    background-color: black;
    color: #ffdd95;
  }

  .company-list11 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }



  .company-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 320px;
    height: 290px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;

    position: relative;
  }

  .company-card:hover .company-card-img,
  .company-card:hover .company-card-title {
    transform: scale(1.1);
  }

  .company-card:hover .company-card-desc {
    opacity: 0.8;
  }

  .company-card-img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;

    transition: 1s all ease-in-out;
  }

  .company-card-title {

    max-width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: white;

    position: absolute;
    top: 269px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s all ease-in-out;
  }

  .company-card-desc {
    max-height: 188px;
    /* max-width: 230px; */

    /* margin: 0px 0px 0px 0px; */

    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;

    text-align: center;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
