.error{
    color: white;
    font-size: 80px;

}

.company-details-page {
    max-width: 100%;
    margin: auto;
}

.company-details-page-medias{
  margin: 20px 160px;
}


.allsection {
            width: 100%;
            height: 100%;

            background-color: rgba(77, 77, 80, 0.5);
            backdrop-filter: blur(15px);

            display: flex;
            gap: 20px;
            padding: 0px 40px;
  }


  .section1 {
    display: flex;
    align-items: top;
    justify-content: top;
    margin: 110px 20px 20px 20px;
    /* max-width: 20%; */
    width: 20%;
    max-width: 100%;
  }

  .section1 img {
    margin: 0 10px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    /* max-width: 55%; */
    width: 55%;
    max-width: 100%;

    padding-left: 10px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .section3 {

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;

    width: 25%;
    max-width: 100%;

    padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 30px;
    background-color: rgba(80, 80, 83, 0.4);
  }

  .section3 p{
    color: white;
    padding-bottom: 20px;
  }

  .company-img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }

  .section2 {
    flex-grow: 1;
  }

  .section2 h2 {
    color: white;
    font-size: 45px;

    margin-bottom: 40px;
  }

  .section2 p {
    margin-top: 30px;
    color: white;
  }

  .button1 {
    max-width: 300px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ffdd95;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 33px;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  .button1:hover {
    background-color: black;
    color: #ffdd95;
  }

  .button2 {
    max-width: 200px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 33px;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  .button2:hover {
    background-color: black;
    color: white;
  }


.company-details-middle {
    display: flex;
    justify-content: space-between;
    margin: 110px 100px;
  }

  .products-section {
    margin-bottom: 20px;

    width: 70%;
    /* background-color: royalblue; */

  }

  .products-title{
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 40px;
    border-left: 5px solid #ff640a;;
  }


  .products-list {
    display: grid;
    gap: 10px;
  }

  .news-section1 {
    margin-bottom: 20px;
    width: 28%;
  }

  .news-section1 h3{
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 40px;
    border-left: 5px solid #ff640a;;
  }

