.news-card {
    padding: 10px;
    border-radius: 5px;

    border:  0.1px solid rgba(255, 255, 255, 0.1);
  }

  .news-card h4 {
    color: white;
    margin: 0 0 5px;
  }

  .news-card h5 {
    color: #23b09a;;
    margin: 0 0 5px;
  }

  .news-card p {
    color: #797e8f;
    margin: 3px 0;
  }
