.discussion-card {
    border: 1px solid #505053;
    border-radius: 15px;
    padding: 15px 35px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #505053;
    transition: background-color 0.3s ease;

  }

  .discussion-card:hover {
    border-color: #ffdd95;
  }

.discussion-card-title {

    max-width: 100%;
    font-size: 18px;
    background-color: #ffdd95;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

  .discussion-card-topic {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding: 10px 0px 8px 0px;
    color: white;
    font-size: 16px;
  }

  .discussion-card-description {
    max-height: 36px;
    color: #9e9ea0;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;

    text-align: justify;
  }

  .discussion-card-reply-count {
    padding-top: 5px;
    font-size: 12px;
    color: white;
    text-align: right;
  }
