.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
  }

  .cart-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .cart-button:hover {
    background-color: #ffdd95;
    color: black;
  }

  .product-details-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }

  .product-details-info {
    text-align: center;
    margin : 20px 150px;

    background-color: #505053;
    padding: 20px;
    border-radius: 20px;
  }

  .product-details-name {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;

    text-align: center;
    white-space: warp;
  }

  .product-details-price {
    font-size: 25px;
    font-weight: bold;
    color: #ffdd95;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .product-details-description {
    font-size: 16px;
    color: #9e9ea0;
    margin-bottom: 20px;

    text-align: justify;
    white-space: warp;
  }

  .product-details-info button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ffdd95;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .product-details-info button:hover {
    background-color: black;
    color: #ffdd95;
  }

  .reviews-section {
    width: 70%;

  }

  .review-rating-title{
    font-size: 20px;
    color: #ffdd95;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  .add-review {
    margin-top: 80px;
    background-color: #505053;
    padding: 15px;
    border-radius: 10px;
  }

  .rating-review-box{
    display: flex;
    gap: 10px;
  }

  .rating-review-box textarea{
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: #ffdd95;
    background-color: #505053;
    color: white;
  }

  .rating-review-box select{
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    padding: 0px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: #ffdd95;
    background-color: #505053;
    color: white;
  }

  .add-review button {
    padding: 8px 10px;
    background-color: #ffdd95 ;
    color: #505053;
    border-color: #ffdd95;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-review button:hover {
    background-color: #505053;
    color: #ffdd95;
  }

  /* .review-card {
    margin-left: 10px;
    margin-right: 25px;
    padding-top: 10px;
  }

  .review-name {
    margin: 0;
    color: white;
    font-size: 16px;

    text-align: justify;
  }

  .review-desc {
    margin: 5px 0;
    color: #9e9ea0;
    font-size: 14px;
    text-align: justify;
    white-space: warp;
  }


  .review-rating {
    margin: 5px 0;
    color: #b20c49;
    font-size: 12px;
    text-align: justify;
    white-space: warp;
  } */

