.profile-page3 {
  width: 30%;
  background-color: #141519;
  color: white;

  margin-top: 170px;
  margin-left: 35%;
}

.profile-page3-Profile {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.profile-page3 i {
  font-size: 100px;
  margin-top: -60px;
  margin-left: 160px;
  color: white;
}

.profile-img-preview {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.profile-info-image {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

}

.profile-info-image input[type="file"] {
  padding: 10px;
  background-color: transparent;

  position: absolute;
  width: 20%;
  top: 170px;
  left: 35%;
  color: white;

}

.profile-info-image input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.profile-info-image input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  background: #ff640a;
  color: black;
  padding: 5px 10px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}

.profile-info-image input[type="file"]:hover::before {
  color: white;
}


.profile-info3-container {
  padding: 20px;

}

.profile-info3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.profile-info3 label {
  font-weight: 400;
  color: #8d979a;
  font-size: 12px;
}

.profile-info3 span {
  margin-left: 10px;
}

.profile-info3 input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ddd;

  background-color: transparent;
  color: white;
  border-bottom: 2px solid #8d979a;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  outline: none;

  -webkit-appearance: none;
  /* Remove default styling in WebKit browsers */
  -moz-appearance: none;
  /* Remove default styling in Firefox */
  appearance: none;
  /* Remove default styling in other browsers */
}

.profile-info3 input:focus {
  border-bottom: 2px solid #ff640a;
}

.profile-buttons3 {
  text-align: right;
}

.profile-buttons3 button {
  padding: 8px 12px;
  background-color: #ff640a;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-buttons3 button:hover {
  background-color: transparent;
  color: #ff640a;
  border: 2px solid #ff640a;
}
