/* .carousel-root {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.carousel .slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel .slider {
  display: flex;
  align-items: center;
}

.carousel .slide {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 2;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


.carousel .control-dots {
  display: none !important;
}


*/

.movie-list-title {
  margin-bottom: 20px;
  color : #ffdd95;
}
.movie-list-container {
  padding: 20px;
}

