

.collaborate-requests {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    /* background-color: #3a3a3e; */
    border-radius: 8px;
    position: relative;
    z-index: 1;
    
    margin-top: 90px;
}

.collaborate-requests h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 23px;
    color: white;
    border-left: 3px solid #ff640a;
    padding-left: 10px;
}


.collab-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.collab-item {
    padding: 15px;
    margin-bottom: 10px;

    background-color: #141519;
    color: white;
    /* border: 2px solid #4d5059; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collab-item:hover {
    border: 1px solid #ff640a;
}

/* .collab-item.waiting {
    background-color: #ffe599;
}

.collab-item.accepted {
    background-color: #b6d7a8;
}

.collab-item.rejected {
    background-color: #f4cccc;
} */

.collab-details1 {
    margin-bottom: 10px;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid white;
    padding-right: 10px;
}

.collab-details1-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collab-details1-status i {
    font-size: 50px;
    color: #23b09a;
    margin-bottom: 10px;
}

.collab-details2 {
    margin-bottom: 10px;
    width: 40%;
}

.collab-details2-label {
    color:white;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: left;
    font-size: 12px;
    margin-bottom: 4px;
}

.collab-details2-label span {
    font-size: 15px;
    font-weight: 500;
}

.collab-details3 {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-details3-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;

    background-color: transparent;
    border: 1px solid #ff640a;
    padding: 10px;

    font-size: 15px;
}

.collab-details3-button p {
    color: white;
}

.collab-details3-button i {
    font-size: 20px;
    color: #ff640a;
}

.collab-details3-button:hover {
    background-color: #25272b;
}

.collab-details4 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.collab-details4-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;

    width: 100px;

    background-color: transparent;
    border: 1px solid #ff640a;
    padding: 10px;

    font-size: 15px;
}

.collab-details4-button p {
    color: white;
}

.collab-details4-button i {
    font-size: 20px;
    color: #ff640a;
}

.collab-details4-button:hover {
    background-color: #24262a;
}

.collab-actions button {
    color: black;
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.collab-actions button:first-child {
    background-color: #28a745;
    color: white;
}

.collab-actions button:first-child:hover {
    background-color: #218838;
}

.collab-actions button:last-child {
    background-color: #dc3545;
    color: white;
}

.collab-actions button:last-child:hover {
    background-color: #c82333;
}