.title {
  font-size: 25px;
  color: white;
  border-bottom: 1px solid white;
  width: 60%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-left: 300px;
}


.registration-container-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  background-color: transparent;

  margin-top: 10px;
  margin-bottom: 20px;
}

.registration-form {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, black, #203843);
  border: 0px solid #ccc;
  width: 90%;
  max-width: 600px; /* Set a maximum width to ensure the form does not get too wide */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.registration-form .form-group {
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.registration-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid  #4d5059;
  border-radius: 5px;
  background-color: transparent;
}

.registration-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid  white;
  border-radius: 0px;
  background-color: transparent !important;
  color: white; /* Optional: Set text color */
  resize: none; /* Optional: Prevent resizing */
  margin-left: 10px;
}

.registration-form input[type="file"] {
  width: 96%;
  padding: 10px;
  border: 1px solid  #4d5059;
  border-radius: 5px;
  background-color: transparent;

  color: white;

}

.registration-form input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.registration-form input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  background: #ff640a;
  color: black;
  padding: 10px 15px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.registration-form input[type="file"]:hover::before {
  background: black;
  color: #ff640a;
}


.registration-form input[type="text"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
}

.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form input[type="email"],
.registration-form input[type="date"],
.registration-form input[type="number"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff640a;
  color: white;
  transition: background-color 0.3s;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-register:hover {
  background-color: black;
  color: #ff640a;
}

