
.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Ensures no scrollbars appear */
  background: linear-gradient(to bottom, black, #203843);
}


.selection-form {
  background-color: #141519;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width:300px;

  margin-top: 220px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group h3 {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.type-text{
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  
}
.selection{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;

  border: 1px solid #4d5059;
  border-radius: 5px;
  padding: 20px 15px;

}

.form-group select {
  color: #ff640a;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px; 
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none; /* Add this line to remove the border when selected */
}

.form-group select option {
  background-color: #141519;
  color: #ff640a;
}

/* Registration Form Container */
.registration-form-container {
  width: 100%;
  max-width: 400px;
}

.btn-submit{

  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff640a;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-submit:hover {
  background-color: black;
  color: #ff640a;
}
