.title {
  font-size: 25px;
  color: white;
  border-bottom: 1px solid white;
  width: 60%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-left: 300px;
}

.title i {
  margin-right: 15px;
}


.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  background-color: transparent;

  margin-top: 10px;
  margin-bottom: 20px;
}

.registration-form {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, black, #203843);
  border: 0px solid #ccc;
  width: 90%;
  max-width: 600px; /* Set a maximum width to ensure the form does not get too wide */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.registration-form .form-group {
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

/* .registration-form input,
.registration-form textarea {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  background-color: #f1f1f1;
} */

.registration-form input[type="text"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
}

.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form input[type="email"],
.registration-form input[type="number"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
}

.registration-form input[type="date"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
  width: 100%;
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Remove default styling in other browsers */
  position: relative;
}

.registration-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Make the calendar icon white */
}

.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form input[type="email"],
.registration-form input[type="date"],
.registration-form input[type="number"] {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0px;
  border-radius: 0px;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff640a;
  color: white;
  transition: background-color 0.3s;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-register:hover {
  background-color: black;
  color: #ff640a;
}

.genre-section {
  margin-top: 60px;
  margin-bottom: 40px;
}

.genre-section label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-button {
  padding: 8px 10px;
  background-color: transparent;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1px;
}

.genre-button:hover {
  color: #ff640a;
  background-color: transparent;
}

.genre-button.selected {
  color: #ff640a;
  background-color: transparent;
  border-color: #ff640a;
}
