.movie-card-copy {
    max-width: 150px;
    height: 305px;
    margin-right: 2rem;
    text-align: center;
    font-family: arial;
    position: relative;
    background-color: black;
    overflow: hidden; /* Ensures the content stays within the card */
  }
  
  .movie-card-copy-img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect on hover */
  }
  
  .movie-card-copy-title {
    max-width: 100%;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
  }
  .movie-card-copy-type {
    max-width: 100%;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
    color: #8d979a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    margin-top: 12px;
  }
  .movie-card-copy-content {
    background-color: rgba(0, 0, 0, 0.7); 
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initial opacity */
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
    padding: 20px;
    text-align: left;
  }
  
  .movie-card-copy-content-title {
    font-size: 14px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium';
  }
  
  .movie-card-copy-content-rate {
    margin-top: 12px;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium';
  }
  
  .movie-card-copy-content-episode {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium';
    color: #8d979a;
  }
  
  .movie-card-copy-content-desc {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    color: white;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    max-height: 25%;
  }
  
  .movie-card-copy:hover .movie-card-copy-content {
    opacity: 1; /* Make content fully visible on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
  }
  .movie-card-copy:hover .movie-card-copy-img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: all 1s ease-in-out; /* Smooth transition for opacity */
  }
  
  .movie-card-copy:hover .movie-card-copy-title {
    opacity: 0; /* Make content fully visible on hover */

    transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
  }
  .movie-card-copy:hover .movie-card-copy-type {
    opacity: 0; /* Make content fully visible on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
  }
  
  
  .movie-card-copy-content-buttons {
  
    display: flex;
  
    margin-top: 50px;
    
  }
  .movie-card-copy-content-button1 {
    cursor: pointer;
    background-color: transparent;
    color: #ff640a;
    border: none;
  }
  
  .movie-card-copy-content-button1 i {
    font-size: 25px; /* Icon size */
  }
  
  .tooltip-container1 {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }
  
  
  /* Tooltip text */
  .tooltip {
    position: absolute;
    bottom: 150%; /* Adjusts the tooltip position above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4a4e58;
    color: #fff;
    padding: 10px 18px;
    font-size: 15px;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    z-index: 3; /* Ensure the tooltip stays above other elements */
  }
  
  /* Tooltip arrow */
  .tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Positioning the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #4a4e58 transparent transparent transparent; /* Creating a down arrow with border */
  }
  