/* .movie-card {
  width: 270px;
  margin-right: 30px;
  position: relative;
}

.movie-card:hover .movie-card-img {
  transform: scale(1.1);
  opacity: 0.5;
}

.movie-card:hover .movie-card-title {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-card:hover .movie-card-desc {
  opacity: 0.8;
}

.movie-card:hover .movie-card-button {
  opacity: 1;
}

.movie-card-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;

  position: absolute;
  top: 0px;
}

.movie-card-title {
  transition: all 1s ease-in-out;
  color: white;
  padding: 0 10px;
  font-size: 22px;
  font-weight: bold;

  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: absolute;
  top: 170px;
}

.movie-card-desc {

  transition: 1s all ease-in-out;

  overflow: hidden;
  text-overflow: ellipsis;

  background-color: #333;
  color: white;
  font-size: 14px;
  padding: 10px;

  text-align: center;
  opacity: 0;

  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;

  max-height: 125px;
}

.movie-card-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
} */

.movie-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 320px;
  height: 290px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  
  position: relative;
}

.movie-card:hover .movie-card-img,
.movie-card:hover .movie-card-title {
  /* transform: scale(1.1); */
}

.movie-card:hover .movie-card-desc {
  opacity: 0.8;
}

.movie-card-img {
  width: 100%;
  height: 16em;
  border-radius: 5px;
  object-fit: cover;

  transition: 1s all ease-in-out;
}

.movie-card-title {

  max-width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: white;

  position: absolute;
  top: 269px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 1s all ease-in-out;
}

.movie-card-desc {
  max-height: 188px;
  /* max-width: 230px; */

  /* margin: 0px 0px 0px 0px; */

  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;

  text-align: center;
  opacity: 0;
  transition: 1s all ease-in-out;
}
