.movie-card-small {
  min-width: 436px;
  height: 82px;
  margin-right: 1rem;
  text-align: center;
  font-family: arial;
  position: relative;
  background-color: black;
  overflow: hidden; /* Ensures the content stays within the card */

  display: flex;
  flex-direction: row;
}

.movie-card-small-img {
  width: 40%;
  height: auto;
  object-fit: cover;
  object-position: center; 
}

.movie-card-small-title {
  max-width: 100%;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}
.movie-card-small-type {
  max-width: 100%;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #8d979a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 12px;
}


.movie-card-small-content {
  /* background-color: rgba(0, 0, 0, 0.7);  */
  width: 40%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin-left: 15px;
  text-align: left;


  opacity: 1;
}

.movie-card-small-content-title {
  font-size: 15px;
  font-weight: 400;
  font-family:'Franklin Gothic Medium';
  margin-top: 10px;

  white-space: nowrap;
  
  overflow: hidden;
  text-overflow: ellipsis;

}

.movie-card-small-content-episode {
  padding:4px 0px;
  font-size: 13px;
  font-weight: 600;
  font-family:Arial, Helvetica;
  color: #8d979a;
}

.movie-card-small-duration {
  width: 20%;
  padding:4px 0px;
  font-size: 13px;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif;
  color: #23b09a;

  margin-top: 50px;
}

.movie-card-small-duration i{
  font-size: 13px;
  margin-right: 4px;
  color: white;
}

.movie-card-small-content-episode i {
  font-size: 13px;
  color:#fab818;
  margin-right: 5px;
}

.movie-card-small:hover {
  background-color: rgb(8, 10, 33); 
  transition: all 0.3s ease-in-out; /* Smooth transition for background color */  
  transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
}

.movie-card-small:hover .movie-card-small-content {
  opacity: 1; /* Make content fully visible on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
}
.movie-card-small:hover .movie-card-small-img {
  /* width: 100%;
  height: 100%;
  opacity: 0.6; */
  transform: scale(0.95); /* Scale the image on hover */
  transition: all 1s ease-in-out; /* Smooth transition for opacity */
}

.movie-card-small:hover .movie-card-small-content-episode {
  opacity: 0; /* Make content fully visible on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
}
.movie-card-small:hover .movie-card-small-duration {
  opacity: 0; /* Make content fully visible on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
}

.movie-card-small:hover .movie-card-small-content-buttons {
  opacity: 1; 
  transition: all 0.3s ease-in-out; /* Smooth transition for opacity */
}


.movie-card-small-content-buttons {

  display: flex;
  margin-top: 50px;
  position: absolute;
  z-index: 2; /* Ensure the buttons stay above the image */
  left: 40%;

  opacity: 0; /* Hide the buttons by default */
}
.movie-card-small-content-button1 {
  cursor: pointer;
  background-color: transparent;
  color: #ff640a;
  border: none;
}

.movie-card-small-content-button1 i {
  font-size: 25px; /* Icon size */
}

.tooltip-container1 {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}


/* Tooltip text */
.tooltip {
  position: absolute;
  bottom: 150%; /* Adjusts the tooltip position above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4a4e58;
  color: #fff;
  padding: 10px 18px;
  font-size: 15px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 3; /* Ensure the tooltip stays above other elements */
}

/* Tooltip arrow */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Positioning the arrow at the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #4a4e58 transparent transparent transparent; /* Creating a down arrow with border */
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent, avoiding default link color */
}
