

.movie-list-title {
  color : white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 9px;
}

.movie-list-title2 {
  color : #a0a0a0;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.movie-list-container {
  margin-left: 55px;
  margin-bottom: 70px;
}

