.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo-container {
    padding-left: 20px;
    cursor: pointer;
  }

.logo {
    color: #fff;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 25px;
  }

.menu-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

.menu-list {
    display: flex;
    list-style: none;
  }

.menu-list-item {
    color: #ffdd95;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    position: relative;

    text-decoration: none;
    }


.menu-list-item a {
        color: #ffdd95;
        text-decoration: none;
        position: relative;
      }

.menu-list-item a:hover {
        color: white;
        border-bottom: 1px solid #ffdd95;
      }


  .profile-text {
    color: #ffdd95;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    position: relative;

    text-decoration: none;
  }

  .logout-btn {
    padding: 10px 20px;
    margin: 0 10px;

    background-color: #ffdd95;
    color: black;

    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    text-decoration: none;
  }


  .logout-btn:hover {
    background-color: #333;
    color: white;
  }