.search-results-title {
  font-size: 22px;
  color: #ffdd95;
  margin: 50px 120px 10px 120px;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  margin: 50px 120px 80px 120px;
}
