.search-results-title {
  font-size: 18px;
  color: #ff640a;
  margin: 50px 200px 5px 195px;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
  column-gap: 0px;
  justify-content: center;
  margin: 25px 240px 80px 240px;
}
