.role-card111 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    color: white;

    padding: 7px;

    max-width: 420px;
    height: auto;
  }

  .role-img111 {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
  }

  .role-info111 h4 {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    overflow: hidden;
  }

  .role-info111 p {
    margin: 0;
    color: white;
    font-size: 13px;
    color: #797e8f  ;
    white-space: nowrap;
    overflow: hidden;
  }

  .role-action111{
    margin-left: auto;
    margin-right: 35px;
    background-color: transparent;
    border: none;
  }

.heart-icon {
  font-size: 25px;
  color: #797e8f ; 
  transition: color 0.3s ease; 
}

.heart-icon:hover {
    /* color: #ffdd95; */
    transform: scale(1.1);
}

.heart-icon.favorite {
  color:  #ff460a;
}

.heart-icon.favorite:hover{
  /* color:  #797e8f; */
  transform: scale(1.1);
}
