.container {
  background-color: black;
  min-height: 100vh; 
  color: black;
  /* padding-top: 60px;  */
  box-sizing: border-box; 
}

* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: white #333; /* For Firefox */
}

/* .content-container {
  margin-left: 10px;
  margin-right: 50px;
} */
