.cart {
    padding: 20px;
    background-color: #505053;
    max-width: 350px;
    border-radius: 5px;
    margin: 80px auto;

  }

  .cart h2 {
    margin-bottom: 20px;
    color: white;
  }

  .cart p {
    margin-bottom: 15px;
    color: #ffdd95;
  }

  .cart ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }

  .cart li {
    padding: 10px 0;
    border-bottom: 1px solid #ffdd95;
  }

  .cart h3 {
    text-align: right;
    margin-top: 20px;
    color: rgb(214, 11, 96);
  }

  .cart button {

    margin-left: 100px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffdd95;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cart button:hover {
    background-color: black;
    color: #ffdd95;
  }

  .cart-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #505053;
    border-radius: 5px;
    border: 1px solid #ffdd95;
}

.cart-card-image {
    width: 90px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-card-details {
    flex: 1;
    max-width: 100%; /* Ensure it uses full available width */
    min-width: 0; /* Prevent the flex item from expanding */
}

.cart-card-details h4 {
    margin: 0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Ensure it takes up the full width of the container */
}

.cart-card-details p {
    margin: 5px 0;
    color: #ffdd95;
}

.cart-card-details button {
    margin-left: 170px;
    padding: 5px 10px;
    background-color: #ffdd95;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-card-details button:hover {
    background-color: #d60b60;
}
