
.product-section {
  /* margin: 20px 20px 20px 20px;
  max-width: 1400px; */
  margin-top: auto;
}


.product-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 60px 80px 20px 40px;
}

.product-section-header input {
  width: 1300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  margin-top: 15px;
}

.product-section-header button {
  background-color: #ffdd95;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;

}

.product-section-header button:hover {
  background-color: #333;
  color: #ffdd95;
}

.cart-button1 {
  background-color: #ffdd95;
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  font-weight: 500;

  margin-right: 10px;
  margin-bottom: 10px;

  text-decoration: none;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.cart-button1:hover {
  background-color: #333;
  color: #ffdd95;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}