.profile-page2 {
  width: 30%;
  background-color: #141519;
  color: white;

  margin-top: 170px;
  margin-left: 35%;
}

.profile-page2-Profile {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.profile-page2 i {
  font-size: 100px;
  margin-top: -60px;
  margin-left: 160px;
  color: white;
}

.profile-info2-container {
  padding: 20px;

}

.profile-info2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.profile-info2 label {
  font-weight: 400;
  color: #8d979a;
  font-size: 12px;
}

.profile-info2 span {
  margin-left: 10px;
}

.profile-info2 input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ddd;

  background-color: transparent;
  color: white;
  border-bottom: 2px solid #8d979a;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  outline: none;

  -webkit-appearance: none;
  /* Remove default styling in WebKit browsers */
  -moz-appearance: none;
  /* Remove default styling in Firefox */
  appearance: none;
  /* Remove default styling in other browsers */
}

.profile-info2 input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* Make the calendar icon white */
}

.profile-info2 input:focus {
  border-bottom: 2px solid #ff640a;
}

.profile-buttons2 {
  text-align: right;
}

.profile-buttons2 button {
  padding: 8px 12px;
  background-color: #ff640a;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-buttons2 button:hover {
  background-color: transparent;
  color: #ff640a;
  border: 2px solid #ff640a;
}