.my-list-container {
    padding: 20px;
    background-color: black;
    min-height: calc(100vh - 70px); /* Adjust for the navbar height */
    color: white;

    margin-top: 59px;
  }

  .my-list-container-title {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 35px;
    justify-content: center;
    text-align: center;
  }

  .my-list-container-title i{
    margin-right: 15px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 40px auto; /* Center align horizontally */
    border-bottom: 2px solid #4a4e58;
    width: 66%;
  }

  .list-button {
    padding: 23px 20px;
    background-color: black;
    color: rgba(255, 255, 255, 0.634);
    font-size: 13px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .list-button.active {
    color: white;
    border-bottom: 3.5px solid #ff640a;
  }

  .list-button:hover {
    background-color: #23252baa;
    color: white;
  }

  .movie-list1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns in the grid */
    row-gap: 30px;
    column-gap: 0px;
    justify-content: center;

    width: 60%;
    margin-left: 299px;
    margin-right: auto;
  }

.favrole-con {
    margin-left: 170px;
  }

.favrole-con h2 {
  margin: 20px 0;
  color: white;
  font-size: 22px;
}