.my-list-container {
    padding: 20px;
    background-color: #151515;
    min-height: calc(100vh - 70px); /* Adjust for the navbar height */
    color: white;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .list-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .list-button.active {
    background-color: #ffdd95;
    color: black;
  }

  .list-button:hover {
    background-color: #ffdd95;
    color: black;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

.favrole-con h2 {
  margin: 30px 0;
  color: #ffdd95;
}