.error {
  color: white;
  font-size: 80px;

}

.movie-details-page1 {
  max-width: 100%;
  margin-top: 60px;
}


.top-section {
  width: 100%;
  height: 100%;

  background-color: rgba(88, 88, 91, 0.323);
  backdrop-filter: blur(15px);

  display: flex;
  justify-content: center;

}

.top-section img {
  margin: 0 10px;
  height: 250px;
  /* width: 360px; */
  object-fit: cover;
  object-position: center;
}


.allsection1 {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Center the container horizontally */
}

.allsection1-section1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  margin-top: 35px;

}

.allsection1-section2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0px;
  margin-left: 20px;

}

.trailer-box {
  max-height: 100px;
  max-width: 330px;

  margin-bottom: 340px;
}

.trailer-player1 {
  max-height: 186px;
  max-width: 330px;
}

.trailer-player2 {
  width: 300px;
  height: 150px;
  /* Ensure the player is responsive */
  max-width: 100%;
  border: 2px solid #ffdd95;
  border-radius: 5px;
}

.allsection1-section2-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: black;
  background-color: #ff640a;

  padding: 8px 20px;
  border: none;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.allsection1-section2-button i {
  margin-right: 8px;
  font-size: 17px;

}

.allsection1-section1-title {
  color: white;
  font-size: 30px;
  font-weight: 400;

  margin-bottom: 15px;

  border-left: #505053;
}

.allsection1-section1-type {
  color: #bbbbbd;

  font-size: 12px;
  font-weight: 400;

  margin-bottom: 18px;
}

.allsection1-section1-avg {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;

  margin-left: 5px;
  border-left: 1px solid #808083;
  padding-left: 10px;

}

.allsection1-section1-watchlist-buttons {

  margin-top: 23px;

}

.allsection1-section1-watchlist-button1 {
  max-width: 300px;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: #ff640a;
  border: 2px solid #ff640a;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.allsection1-section1-watchlist-button1 i {
  font-size: 16px;
  margin-right: 4px;
}

.allsection1-section1-watchlist-button1:hover {
  /* color: #f8782f;
  border-color: #f8782f; */
  background-color: #ff640a;
  color: white;
  
}

.allsection1-section1-watchlist-button2 {
  max-width: 300px;
  margin-right: 10px;
  padding: 10px 16px;
  background-color: transparent;
  color: #9e9ea0;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.allsection1-section1-watchlist-button2 i {
  font-size: 17px;
  margin-right: 4px;
}

.allsection1-section1-watchlist-button2:hover {
  background-color: #ffffff37;
  color: white;
}

.allsection1-section1-desc {
  margin-top: 25px;
  font-size: 14px;
  color: white;
  line-height: 1.6;
}


.genre-box1 {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;

  margin-right: 35px;
}

.genre-item-box1 {
  display: inline-block;

  margin-right: 8px;
  padding: 6px 8px;
  color: white;
  font-size: 12px;
  background-color: #213944;
  cursor: pointer;
}

.genre-item-box1:hover {
  background-color: #324953;
}

.allsection1-section1-epi {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid #61616d;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.movie-details-middle1 {
  display: flex;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  margin-top: 90px;
}

.movie-details-middle1-left {
  width: 63%;
}

.movie-details-middle1-right {
  width: 35%;
  margin-left: 10px;
}

.roles-section111 {
  width: 100%;
}

.roles-section111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}


.roles-list111 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* .news-section1111 {

  
} */

.news-section1111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}

.add-news {
  margin-top: 20px;
  background-color: #141519;
  padding: 15px;
}

.add-news input[type="text"] {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 2px solid #505053;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.add-news textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 2px solid #505053;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.add-news input[type="text"]:focus,
.add-news textarea:focus{
  border-color:#ff640a;
}

.add-news button {
  padding: 8px 14px;
  border: 2px solid #ff640a;
  background-color: transparent;
  color: #ff640a;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-news button:hover {
  color: white;
}

.reviews-section111 {
  margin-top: 50px
}

.review-rating-title111 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}

.review-rating-all111 {
  background-color: #141519;
  padding: 15px 0px;
}

.rating-review-box111 {
  display: flex;
  gap: 10px;
}


.review-card111 {

  /* padding: 15px; */
  padding: 0px 0px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;

  display: flex;
  gap: 10px;

  border-bottom: 1px solid #61616d;

}


.review-card111 i {
  font-size: 25px;
  color: white;
}

.review-name111 {
  margin: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
}

.review-desc111 {
  margin: 5px 0;
  color: #9e9ea0;
  font-size: 13px;
  text-align: justify;
  white-space: warp;
}


.review-rating111 {
  margin: 5px 0;
  color: white;
  font-size: 12px;
  text-align: justify;
  white-space: warp;

  border-left: 1px solid #bbbbbd;
  padding-left: 10px;
}



.company-details-middle111 {
  margin-top: 100px;
}

.product-list1111{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.company-details-middle111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}