.error {
  color: white;
  font-size: 80px;

}

.movie-details-page1 {
  max-width: 100%;
  margin-top: 60px;
}


.top-section {
  width: 100%;
  height: 100%;

  background-color: rgba(88, 88, 91, 0.323);
  backdrop-filter: blur(15px);

  display: flex;
  justify-content: center;

}

.top-section img {
  margin: 0 10px;
  height: 250px;
  /* width: 360px; */
  object-fit: cover;
  object-position: center;
}


.allsection1 {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Center the container horizontally */
}

.allsection1-section1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  margin-top: 35px;

}

.allsection1-section2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0px;
  margin-left: 20px;

}

.trailer-box {
  max-height: 100px;
  max-width: 330px;

  margin-bottom: 340px;
}

.trailer-player1 {
  max-height: 186px;
  max-width: 330px;
}

.trailer-player2 {
  width: 300px;
  height: 150px;
  /* Ensure the player is responsive */
  max-width: 100%;
  border: 2px solid #ffdd95;
  border-radius: 5px;
}

.allsection1-section2-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: black;
  background-color: #ff640a;

  padding: 8px 20px;
  border: none;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.allsection1-section2-button i {
  margin-right: 8px;
  font-size: 17px;

}

.allsection1-section1-title {
  color: white;
  font-size: 30px;
  font-weight: 400;

  margin-bottom: 15px;

  border-left: #505053;
}

.allsection1-section1-type {
  color: #bbbbbd;

  font-size: 12px;
  font-weight: 400;

  margin-bottom: 18px;
}

.allsection1-section1-avg {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;

  margin-left: 5px;
  border-left: 1px solid #808083;
  padding-left: 10px;

}

.allsection1-section1-watchlist-buttons {

  margin-top: 23px;

}

.allsection1-section1-watchlist-button1 {
  max-width: 300px;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: #ff640a;
  border: 2px solid #ff640a;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.allsection1-section1-watchlist-button1 i {
  font-size: 16px;
  margin-right: 4px;
}

.allsection1-section1-watchlist-button1:hover {
  color: #f8782f;
  border-color: #f8782f;
}

.allsection1-section1-watchlist-button2 {
  max-width: 300px;
  margin-right: 10px;
  padding: 10px 16px;
  background-color: transparent;
  color: #9e9ea0;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.allsection1-section1-watchlist-button2 i {
  font-size: 17px;
  margin-right: 4px;
}

.allsection1-section1-watchlist-button2:hover {
  background-color: #ffffff37;
  color: white;
}

.allsection1-section1-desc {
  margin-top: 25px;
  font-size: 14px;
  color: white;
  line-height: 1.6;
}


.genre-box1 {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;

  margin-right: 35px;
}

.genre-item-box1 {
  display: inline-block;

  margin-right: 8px;
  padding: 6px 8px;
  color: white;
  font-size: 12px;
  background-color: #213944;
  cursor: pointer;
}

.genre-item-box1:hover {
  background-color: #324953;
}

.allsection1-section1-epi {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid #61616d;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.movie-details-middle1 {
  display: flex;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  margin-top: 90px;
}

.movie-details-middle1-left {
  width: 63%;
}

.movie-details-middle1-right {
  width: 35%;
  margin-left: 10px;
}

.roles-section111 {
  width: 100%;
}

.roles-section111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}


.roles-list111 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* .news-section1111 {

  
} */

.news-section1111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}





.reviews-section111 {
  margin-top: 50px
}

.review-rating-title111 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}

.review-rating-all111 {
  background-color: #141519;
  padding: 15px 0px;
}

.add-review111 {
  background-color: #141519;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rating-review-box111 {
  display: flex;
  gap: 10px;
}

.rating-review-box111 textarea {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 2px solid #505053;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.rating-review-box111 select {
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  padding: 10px;
  /* Increase padding for better spacing */
  margin: 10px 0;
  background-color: transparent;
  color: white;
  border: 2px solid #505053;
  border-radius: 3px;
  appearance: none;
  /* Remove default dropdown arrow */
  -webkit-appearance: none;
  /* Remove default dropdown arrow for Safari */
  -moz-appearance: none;
  /* Remove default dropdown arrow for Firefox */

  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23ff640a" d="M2 0L0 2h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  outline: none;
}

.rating-review-box111 select:focus,
.rating-review-box111 textarea:focus{
  border-color:#ff640a;
}

.rating-review-box111 select option {
  font-size: 12px;
  color: white;
  background-color: #333;
  padding: 7px;
  border: none;
}


.rating-review-box111 select option:checked {
  background-color: #ff640a;
  color: white;
}


.add-review111 button {

  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px;
  background-color: transparent;
  color: #ff640a;
  border-color: #ff640a;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-review111 button:hover {
  background-color: rgba(113, 113, 113, 0.434);
}




.review-card111 {

  /* padding: 15px; */
  padding: 0px 0px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;

  display: flex;
  gap: 10px;

  border-bottom: 1px solid #61616d;

}

.review-card111 i {
  font-size: 25px;
  color: white;
}

.review-name111 {
  margin: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
}

.review-desc111 {
  margin: 5px 0;
  color: #9e9ea0;
  font-size: 13px;
  text-align: justify;
  white-space: warp;
}


.review-rating111 {
  margin: 5px 0;
  color: white;
  font-size: 12px;
  text-align: justify;
  white-space: warp;

  border-left: 1px solid #bbbbbd;
  padding-left: 10px;
}



.discussions-section {
  margin-top: 100px;
  width: 100%;
}

.discussions-section-inner {
  width: 100%;
}

.discussion-title {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
  text-align: left;
}

.discussion-card111 {
  padding: 15px;
  background-color: #141519;
}

.discussion-card111:hover {
  background-color: #1e2026;
}

.discussion-card111 i{
  font-size: 20px;
  color: #9e9ea0;
  margin: auto 0;
  text-align: center;
}

.discussion-img111 {
  width: 100%;
  height: 30px;
  object-fit: cover;
  object-position: bottom;
}

.discussion-card111 h4 {
  color: #2abdbb;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 5px;

  border-left: 1px solid white;
  padding-left: 10px;
}

.discussion-card111 p {
  color: white;
  font-size: 13px;
  line-height: 1.4;
  margin: 5px 0;
  padding-left: 10px;
}

.add-discussion {

  background-color: #141519;
  padding: 15px;
}

.add-discussion input[type="text"] {
  width: 97%;
  padding: 5px 10px;
  margin: 10px 0px;
  border-bottom: 1px solid #505053;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.add-discussion input[type="text"]:focus {
  border-bottom: 1px solid #ff640a;
}

.discussion-des {
  width: 97%;
  padding: 10px 10px;
  min-height: 80px;
  margin: 10px 0;
  border: 1px solid #505053;
  outline: none;
  background-color: transparent;
  color: white;
}

.discussion-des:focus {
  border: 1px solid #ff640a;
}



.add-discussion button {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px;
  background-color: transparent;
  color: #ff640a;
  border-color: #ff640a;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-discussion button:hover {
  background-color: #5050531f;
}


.fav-icon {
  font-size: 25px;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  vertical-align: middle;
}

.fav-icon:hover {
  transform: scale(1.1);
}

.fav-icon.favorite {
  color: #ff640a;
}

.fav-icon.favorite:hover {
  transform: scale(1.1);
}

.company-details-middle111 {
  margin-top: 100px;
}

.product-list1111{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.company-details-middle111 h3 {
  color: white;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 40px;
  border-left: 5px solid #ff640a;
}