
.merchlist-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    width:auto;
    height: 70px;
    background-color: #3a3a3e;

    margin: 2px 120px;
    border-radius: 5px;

    display: flex;
    flex-direction:row;
    gap: 10px;

  }

  .merchlist-card-username {

    width: 100px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #ffdd95;
    border-right: 2px solid #ffdd95;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    padding-right: 15px;
  }

  .merchlist-card-name {

    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin-left: 15px;
  }

  .merchlist-card-email {
  
    max-width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin-left: 15px;
  }

  .merchlist-section {
    margin-top: auto;
  }

  .merchlist-section-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3a3a3e;

    margin: 50px 120px 80px 120px;
    border-radius: 20px;
    padding-top: 10px;
    align-content: center;
  }

  .merchlist-section-header-search-bar {
    
    background-color: #3a3a3e;
    color: white;
    border: 2px solid #4d5059;

    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;

    margin: 10px 40px 20px 40px;
  }