.userlist-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  width: auto;
  height: 70px;
  background-color: #141519;

  margin: 2px 120px;

  display: flex;
  flex-direction: row;
  gap: 10px;

}

.userlist-card-username {

  width: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #ff640a;
  border-right: 2px solid #ff640a;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 15px;
  padding-right: 15px;
}

.userlist-card-name {

  width: 150px;
  font-size: 14px;
  font-weight: 400;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  margin-left: 15px;
}

.userlist-card-email {

  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  margin-left: 15px;
}

.userlist-section {
  margin-top: 60px;
}

.userlist-section-header {
  display: flex;
  flex-direction: column;
  background-color: #141519;
  align-content: center;

  padding-top: 28px;
  padding-bottom: 35px;

  margin-bottom: 50px;
}

.userlist-section-header-search-bar {

  background-color: transparent;
  color: white;
  border-bottom: 2px solid #4d5059;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;

  padding: 6px;

  font-size: 25px;
  font-weight: 200;
  margin: 0px 350px;
  outline: none;
}

.userlist-section-header-search-bar:focus {
  border-bottom: 2px solid #ff640a;
}